.container {
    margin: 0px 45px 45px 45px;
    padding-block-end: 204px;
    background-color: #ffffff;
}

.titulo-container{
    padding-block-start: 30px;
    padding-inline-start: 60px;
    position: relative;
    font-size: 2.75rem;
    color: rgb(89, 4, 97);
}

.titulo-container h1{
    text-align: left;
    margin: 0px;
    font-weight: 400;
}

.descripcion-container{
    display: flex;
    font-size: 3rem;
    margin-block-start: 152px;
    color: rgb(0, 0, 0);
}

.descripcion-container strong{
    font-weight: 400;
    color: #590461;
}

.descripcion-container img{
    width: 720px;
}

.text-container{
    padding-inline: 15px;
}

.text-container button{
    border: none;
    font-family: inherit;
    font-size: 2.25rem;
    padding-block: 8px;
    padding-inline: 212px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #590461;
}




